---
import Layout from "../layouts/Layout.astro";
import Sobremi from "../content/posts/sobremi.mdx";
import Header from "../components/Header.astro";
import "../../css/styles.css";
---

<Layout title="CV Daniel Manosalva">
  <div class="outer-container">
    <Header />
    <div id="sobremi-content" class="centered-container">
      <button class="print"
        ><span class="iconify" data-icon="tdesign:print" data-inline="false"
        ></span></button
      >
      <div id="sobremi">
        <Sobremi />
      </div>
    </div>
  </div>
</Layout>

<script>
  const button = document.querySelector("button.print");

  button.addEventListener("click", () => {
    const printContent = document.querySelector("#sobremi").innerHTML;
    const originalContent = document.body.innerHTML;

    document.body.innerHTML = printContent;
    window.print();
    document.body.innerHTML = originalContent;
  });
</script>
